@import "tailwindcss";

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee-left 32s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-right 32s linear infinite;
}